############################
# OS Files
############################
.DS_Store
Thumbs.db

############################
# VS Code
############################
.vscode/

############################
# IntelliJ
############################
.idea/
*.iml

############################
# Java
############################
target/
*.class

############################
# Maven
############################
.mvn/
dependency-reduced-pom.xml

############################
# Node
############################
node_modules/
dist/
build/

############################
# Logs
############################
*.log

############################
# Environment Variables
############################
.env

############################
# Terraform
############################
.terraform/
*.tfstate
*.tfstate.*

############################
# Kubernetes
############################
*.kubeconfig

############################
# Docker
############################
docker-data/

############################
# Misc
############################
*.swp
*.tmp